<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baosight.iwater.system.role.dao.RoleMapper">
	
	<!-- 这里进行备注  mybatis中含有具体的类一定要验证是否正确  ctrl alt -->
	<resultMap id="BaseResultMap" type="com.baosight.iwater.system.role.pojo.Role">
		<id column="ui_id" property="ui_id" jdbcType="VARCHAR" />
		<result column="add_date" property="add_date" jdbcType="VARCHAR" />
		<result column="up_date" property="up_date" jdbcType="VARCHAR" />
		<result column="user_info" property="user_info" jdbcType="VARCHAR" />
		<result column="role_zhname" property="role_zhname" jdbcType="VARCHAR" />
		<result column="role_enname" property="role_enname" jdbcType="VARCHAR" />
		<result column="role_code" property="role_code" jdbcType="VARCHAR" />
		<result column="is_del" property="is_del" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 通过sql片段实现代码复用 -->
	<sql id="Base_Column_List">
		ui_id,add_date,up_date,user_info,role_type,role_zhname,role_enname,role_code,is_del
	</sql>
	
	<!-- 根据主键 查询(没有进行逻辑删除的)对象 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_role
		where ui_id = #{ui_id,jdbcType=VARCHAR}
		and is_del=1
	</select>
	
	<!-- 逻辑删除 记录操作时间-->
	<delete id="deleteByPrimaryKey" parameterType="com.baosight.iwater.system.role.pojo.Role">
		<!--  
		delete from sys_org
		where ui_id = #{ui_id,jdbcType=VARCHAR}
		-->
		update sys_role set is_del=2,up_date=#{up_date,jdbcType=VARCHAR},
		user_info=#{user_info,jdbcType=VARCHAR} where ui_id = #{ui_id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 添加数据 初始添加时间 -->
	<insert id="insert" parameterType="com.baosight.iwater.system.role.pojo.Role">
		insert into sys_role (
		<include refid="Base_Column_List" />
		)values (#{ui_id,jdbcType=VARCHAR},
		#{add_date,jdbcType=VARCHAR},
		null,
		#{user_info,jdbcType=VARCHAR},
		#{role_type,jdbcType=VARCHAR},
		#{role_zhname,jdbcType=VARCHAR},
		#{role_enname,jdbcType=VARCHAR},
		#{role_code,jdbcType=VARCHAR},
		1)
	</insert>
	
	<!-- 添加 角色 权限关系 -->
	<insert id="insertRolePower" parameterType="com.baosight.iwater.system.role.pojo.RelRolePower">
		insert into rel_role_power
		(role_code,power_code,power_owner,power_follower,
		power_type,del_modified,gmt_date) values
		(#{role_code,jdbcType=VARCHAR},
		#{power_code,jdbcType=VARCHAR},
		#{power_owner,jdbcType=VARCHAR},
		#{power_follower,jdbcType=VARCHAR},
		#{power_type,jdbcType=VARCHAR},
		1,
		#{gmt_date,jdbcType=VARCHAR})
	</insert>
	
	<!-- 删除 某角色所有权限关系 -->
	<delete id="deleteRolePower" parameterType="com.baosight.iwater.system.role.pojo.RelRolePower">
		update rel_role_power set del_modified=2,gmt_date=#{gmt_date,jdbcType=VARCHAR} where role_code = #{role_code,jdbcType=VARCHAR}
	</delete>
	
	<!--根据角色主键  查询某一角色的所有权限关系 -->
	<select id="selectRolePower" parameterType="java.lang.String" resultType="com.baosight.iwater.system.role.pojo.RelRolePower">
		select role_code,power_code,power_owner,power_follower,
		power_type,del_modified,gmt_date from rel_role_power
		where del_modified=1 and
		role_code=(select role_code from sys_role where ui_id=#{ui_id,jdbcType=VARCHAR}) 
	</select>
	
	<!-- 唯一性校验 (新增 或者 修改使用)-->
	<select id="checkOnly" resultType="java.lang.Integer" parameterType="com.baosight.iwater.system.role.pojo.Role">
		select count(*) as count from sys_role 
		where 1=1
		<if test="role_code != null and role_code != '' ">
		    and role_code= #{role_code,jdbcType=VARCHAR}
		</if>
		<if test="ui_id != null and ui_id != '' ">
			and ui_id != #{ui_id,jdbcType=VARCHAR}
        </if>
	</select>
	
	<!-- 分页条件查询 (没有进行逻辑删除的)数据 oracle-->
	<select id="findAllOrcl" resultType="com.baosight.iwater.system.role.pojo.Role" parameterType="java.util.Map">
		SELECT * FROM  
		( SELECT A.*, ROWNUM RN  
		FROM (
		select
		<include refid="Base_Column_List" />  
		from sys_role s where 1=1
		<if test="queryItem !=null and queryItem !='' ">
        	${queryItem}
        </if>
		) A  
		WHERE ROWNUM &lt;= #{end,jdbcType=INTEGER} ) 
		WHERE RN &gt; #{start,jdbcType=INTEGER}
	</select>
	
	<!-- 分页条件查询 (没有进行逻辑删除的)数据 mysql-->
	<select id="findAllSql" resultType="com.baosight.iwater.system.role.pojo.Role" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />  
		from sys_role s where 1=1
		<if test="queryItem !=null and queryItem !='' ">
        	${queryItem}
        </if>
        <if test="excel_flag == null">
		 limit #{start,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>
	
	<!-- 查询所有 不分页 -->
	<select id="findAll" resultType="com.baosight.iwater.system.role.pojo.Role">
		select
		<include refid="Base_Column_List" />  
		from sys_role s where s.is_del=1
	</select>
	
	<!-- 分页查询(没有进行逻辑删除的)总记录数 -->
	<select id="findAllSize" resultType="java.lang.Integer" parameterType="java.util.Map">
		select
		count(*)
		from sys_role s
		where 1=1
		<if test="queryItem !=null and queryItem !='' ">
        	${queryItem}
        </if>
	</select>
	
	<!-- 修改(没有进行逻辑删除的)数据 -->
	<update id="updateByPrimaryKey" parameterType="com.baosight.iwater.system.role.pojo.Role">
		update sys_role set
		up_date=#{up_date,jdbcType=VARCHAR},
		user_info=#{user_info,jdbcType=VARCHAR},
		role_type=#{role_type,jdbcType=VARCHAR},
		role_zhname=#{role_zhname,jdbcType=VARCHAR},
		role_enname=#{role_enname,jdbcType=VARCHAR},
		role_code=#{role_code,jdbcType=VARCHAR}
		where is_del=1 and ui_id=#{ui_id,jdbcType=VARCHAR}
	</update>
	
	<!-- 查询角色 用户 -->
	<select id="sel_role_user" parameterType="java.lang.String" resultType="com.baosight.iwater.system.role.pojo.User">
		select ui_id,user_name,user_code,user_tel,user_mail,user_post from sys_user 
		where del_modified=1 and user_code in 
		(select user_code from rel_user_role where del_modified=1 and role_code=#{role_code,jdbcType=VARCHAR})
	</select>
	
	<!-- 查询角色 权限 -->
	<select id="sel_role_power" parameterType="java.lang.String" resultType="com.baosight.iwater.system.role.pojo.Power">
		select s.power_code,s.power_url,s.power_follower,s.power_name,s.power_owner,
		s.power_type,s.ui_id,s.up_date,s.user_info
		from sys_power s left join rel_role_power r on r.power_code=s.power_code 
		where r.role_code=#{role_code,jdbcType=VARCHAR} and r.del_modified=1
	</select>
</mapper>